@import "styles/globals";

.login {
	@extend .fullScreenPage;
}

.loginForm {
  @extend .form;
}

.newVolunteer {
  
}

.volunteerButton {

}

.otpContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.otpContainer {
  margin: 1rem 0px;
  > div {
    margin: auto;
  }
}

.inputStyle {
  width: 2rem !important;
  height: 2rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 470px) {
  .margin-top--small .inputStyle {
    width: 2rem !important;
    height: 2rem;
    margin: 0 5px;
    font-size: 1rem;
  }

  .card > form > p {
    font-size: 1.2em !important;
  }
}